<ul class="nav side-menu">
                 
    
    <li><a><i class="fa fa-gear"></i> Configuraciones Generales <span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        
        <li><a><i class="fa fa-renren"></i> Zona <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'zonaAgencia'%}">Registro de Zona</a></li>
            <li><a href="{% url 'asignarZona'%}">Asignar Zona</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-renren"></i> Ocupacion <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'ocupacion'%} " >Registro de Ocupacion</a></li>
            <li><a href="{% url 'listaOcupacion'%} " >Lista de Ocupacion</a></li>
          </ul>
        </li>
        
        <li><a><i class="fa fa-renren"></i> Materiales <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'materiales'%} " >Registro de Materiales</a></li>
            <li><a href="{% url 'listaMater'%} " >Lista de Materiales</a></li>
          </ul>
        </li>
        
        
        
      </ul>
    </li>
    
    <li><a><i class="fa fa-users"></i> Cliente <span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        <li><a href="{% url 'perfil'%}">Perfil de Cliente</a></li>
        <li><a href="{% url 'listaPerfil'%}">Lista de Cliente</a></li>
      </ul>
    </li>
    
    <!--<li><a><i class="fa fa-users"></i> Flujo de caja <span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        <li><a href="">Perfil de Cliente</a></li>
        <li><a href="">Lista de Cliente</a></li>
      </ul>
    </li>-->
    
    <li><a><i class="fa fa-edit"></i> Solicitud <span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        <li><a><i class="fa fa-renren"></i> Solicitud Personal <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'listarSN'%} " >Listado Solicitudes Completas</a></li>
            <li><a href="{% url 'listarSNC'%} " >Listado Solicitudes Incompletas</a></li>
           <!-- <li><a href="" >Listado Solicitudes por Agencia</a></li> -->         
          </ul>
        </li>
        <li><a><i class="fa fa-renren"></i> Solicitud Microempresa <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'listaSC'%} " >Listado Solicitudes Completas</a></li>
            <li><a href="{% url 'listaSolicitud'%} " >Listado Solicitudes Incompletas</a></li>
            <!--<li><a href="" >Listado Solicitudes por Agencia</a></li> listaSCA  id=request.user.agencia.id -->        
          </ul>
        </li>
      </ul>
    </li>
    <li><a><i class="fa fa-clone"></i> Historial Crediticio <span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        <li><a href="{% url 'listaHis'%}">Autorizacion y registro de puntaje</a></li>
        <li><a href="{% url 'listapuntaje'%}">Lista puntajes solicitantes</a></li>
        
      </ul>
    </li>
    <li><a><i class="fa fa-clone"></i> Reportes <span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        <li><a href="{% url 'listaHis'%}">Historial</a></li>
        <li><a href="{% url 'listaCC'%}">Conozca a su Cliente</a></li>
        <li><a href="{% url 'listaDJ'%}">Declaración Jurada</a></li>
        <li><a href="{% url 'listaIS'%}">Inscripción Seguro</a></li>
        
      </ul>
    </li>
 
    <li><a><i class="fa fa-gear"></i>Graficas<span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        <li><a href="{% url 'grafAgenciaP'%}">Grafica Perfiles por Agencia</a></li>
        <li><a href="{% url 'grafAgenciaPN'%}">Grafica Perfiles N por Agencia</a></li>
        <li><a href="{% url 'graficaAT'%}">Grafica Agencia Tipo</a></li>
        <li><a href="{% url 'graficaATS'%}">Grafica Agencia Tipo Sol</a></li>
        <li><a href="{% url 'graficaASolic'%}">Grafica Agencia Estado Sol</a></li>
        <li><a href="{% url 'grafTipoSol'%}">Grafica Tipo Soli</a></li>
        
        
      </ul>
    </li>

   </ul>

 

